<style>
    /*.hours, .days, .events {line-height: 50px; border: 1px solid green;}*/
    .hours>div:nth-child(n+2), .events {line-height: 50px; border: 1px solid green;}
</style>
{% set month = calendr_month(2014, 5) %}
{% set week = calendr_week(2012, 14) %}
{% set events = calendr_events(week) %}

<h1>Events for week #{{ week }}</h1>
<div class="row">
    {#<div class="col-xs-2 hours">#}
        {#<div class="col-xs-12 blank">&nbsp;</div>#}
        {#{% for i in 8..22 %}#}
            {#<div class="col-xs-12">{{ i }}h</div>#}
        {#{% endfor %}#}
    {#</div>#}
    {{ dump(month) }}
    {% set numberOfDay = 1 %}
    {% for week in month %}
        {% for day in week %}
            <div class="col-xs-2 days">
                <div class="col-xs-12">{{ day }} {{ numberOfDay }}</div>
                <div class="col-xs-12 events">&nbsp;
                    {% if events is defined and events|length > 0 %}
                        <ul>
                            {% for event in events.find(day) %}
                                <li>{{ event }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            {% set numberOfDay = numberOfDay +1 %}
        {% endfor %}
    {% endfor %}
</div>