{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .collapsed-cell {visibility: collapse;}
    </style>
{% endblock stylesheets %}
{% block title %}{{ 'my_calendar'|trans({}, 'messages') }}{% endblock%}
{% block actions %}{% endblock %}
{% block sonata_breadcrumb %}
    {% if _breadcrumb is not empty or action is defined %}
        <ol class="nav navbar-top-links breadcrumb">
            <li><a href="{{ path('sonata_admin_dashboard') }}"><i class="fa fa-home"></i></a></li>
            <li>{{ 'my_calendar'|trans({}, 'messages') }}</li>
        </ol>
    {% endif %}
{% endblock sonata_breadcrumb %}
{% block tab_menu %}{% endblock %}
{% block form %}
    <section class="content">
        <div class="sonata-ba-form">
            <form role="form" action="" method="">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 ">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title col-xs-12">
                                        <div class="row col-xs-12">
                                            <div class="col-xs-4 pull-left">{{ 'time_tracking'|trans({}, 'messages') }}</div>
                                            <div class="col-xs-8 alert-danger pull-right">{{ 'alert_save_before_switch'|trans({}, 'messages') }}</div>
                                        </div>
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div id="calendar"></div>
                                    {#{{ include('dElt4TimeBundle:Default:calendr.html.twig') }}#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="well well-small form-actions">
                    <button class="btn btn-success" type="button" name="btn_save"><i class="fa fa-save"></i> {{ 'btn_save'|trans({}, 'messages') }}</button>
                    <button class="btn btn-success" type="button" name="btn_print"><i class="fa fa-print"></i> {{ 'btn_print'|trans({}, 'messages') }}</button>
                    <button type="submit" class="btn btn-success" name="btn_create_and_list"><i class="fa fa-table"></i> {{ 'btn_export_csv'|trans({}, 'messages') }}</button>
                </div>
            </form>
        </div>
    </section>
    <script type="text/javascript">
    </script>
{% endblock form %}
{% block custom_js %}
    <script>
        var projects = null;
        jQuery(document).ready(function($){
            $.get(Routing.generate('path_projects'), function (res) {
                projects = res;
                $('#calendar').fullCalendar({
                    header:
                    {
                        left:   'title',
                        center: '',
                        right:  'today prev next'
                    },
                    start: '9:00',
                    end: '22:00',
                    editable: true,
                    color: 'yellow',
                    textColor: 'black'
                });
                $('.fc-button-group, .fc button').show();
                initContent();
                var $cell = getCell('2015-06-15');
//                console.log($cell);
//                console.log(getDataDate($cell));
//                console.log(getCell('2015-06-15').parent().parent());
            });

        });
        function initContent() {
            $('.fc-content-skeleton').find('table>tbody td').each(function(){
                var div1 = $('<div class="col-xs-12"><p>AM</p></div>');
                div1.append(buildSelect(projects));
                var div2 = $('<div class="col-xs-12"><p>PM</p></div>');
                div2.append(buildSelect(projects));
                var $headCell = getHeadCell($(this).attr('cell-data-date'));
                if ($headCell !== undefined && !$headCell.hasClass('collapsed-cell')) {
//                    console.log($headCell.hasClass('collapsed-cell'));
                    $(this).append(div1);
                    $(this).append(div2);
                    $(this).attr('cell-data-date', getDataDate($(this)));
                    $(this).addClass('fc-day');
                }
            });
            $(".fc-other-month").each(function(){
                $(this).addClass('collapsed-cell');
                getCell($(this).attr('data-date')).addClass('collapsed-cell');
            });
            $('select.select-calendar').select2();
            $('button.fc-prev-button').unbind('click').click(function(){
                $('#calendar').fullCalendar('prev');
                initContent();
            });
            $('button.fc-next-button').unbind('click').click(function(){
                $('#calendar').fullCalendar('next');
                initContent();
            });
        }
        function buildSelect(values, id) {
            var $select = $('<select class="select-calendar" style="width:90%;margin-bottom: 5px;"></select>');
            $select.append('<option value=""></option>');
            for(var i in values) {
                var value = values[i];
                if (value.id && value.title) {
                    if (value.id === id) {
                        var sel = 'SELECTED="SELECTED"';
                    } else {
                        var sel = '';
                    }
                    $select.append('<option value="'+ value.id +'" '+ sel +'>'+ value.title +'</option>')
                }
            }

            return $select;
        }
        function getDataDate($el) {
            var index = $el.index();

            return $el.parent().parent().parent().find('>thead>tr>td:eq('+index+')').attr('data-date');
        }
        function getHeadCell(date) {
            return $('.fc-day[data-date="'+date+'"]');
        }
        function getCell(date) {

            return $('.fc-day[cell-data-date="'+date+'"]');
        }
    </script>
{% endblock custom_js %}
